@import '../../styles/index';
.weather{
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: calc(1em);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
	font-family: 'Work Sans', sans-serif;
	// background: #212125;
	background: #e4d8d8;
	color: #e6e8db;
  /* elements */
  &__sunny {
		flex: none;
		display: block;
		position: relative;
		font-size: -webkit-calc(11em);
		font-size: calc(11em);
		width: 1em;
		height: 1em;
		margin: .3em;
		border-radius: 100%;
		background: linear-gradient(to top right, #fc5830 0%, #f98c24 65%);
	  }
	  .sun {
		position: absolute;
		top: 20%;
		left: 80%;
		transform: translate(-50%, -50%);
		width: 40%;
		height: 40%;
		border-radius: 100%;
		background: #ffeb3b;
		transform-origin: .1em .1em;
	  }
	  .sun::after {
		content: '';
		position: absolute;
		top: .1em;
		left: 0;
		will-change: transform;
		transform: translate(-50%, -50%);
		width: .1em;
		height: .1em;
		border-radius: 100%;
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 0.1em 0 rgba(255, 255, 255, 0.3) inset, -0.1em -0.1em 0 0.2em rgba(255, 255, 255, 0.1);
		animation: flare 12000ms infinite alternate linear;
	  }
	  @-webkit-keyframes flare {
		to {
		transform: translate(-0.3em, 0.3em);
		  opacity: .4;
		  font-size: .2em;
		}
	  }
	  @keyframes flare {
		to {
		  transform: translate(-0.3em, 0.3em);
		  opacity: .4;
		  font-size: .2em;
		}
	  }

}
