@import './../../styles/index';
.page-detail{
    height: 100%;
    background: #fff;
    padding: 30px;
    .title{
        height: 100px;
        line-height: 100px;
        font-size: 36px;
        color: #333;
        margin-bottom: 30px;
        @include hairline-bottom(#e5e5e5);
    }
    .editor{
        
        width: 100%;
        min-height: 450px;
        color: #1a1a1a;
        font-size: 30px;
        font-style:normal
    }
}